.formCreator{
  width: inherit;
  .formButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
  }

  .formBlob {
    text-transform:uppercase
  }

  .formBlock{
    position: fixed;
    top: 0;
    right: 0vw;
    // width: 100% !important;
  }

  
}

.dragging {
  background: rgba(255, 255, 0, 0.461);
  text-align: center;
  font-family: sans-serif;
}




