.formMarketplace{
  h1 {
    text-align: center;
  }

  .carousel {
    flex: 1;
    display: flex;
    overflow: auto;
    .box {
      display: flex;
      min-height: min-content; /* needs vendor prefixes */
    }
  }

  .searchbar {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
      margin-top: 3rem;
  }
}