.formCreator{
    h2{
    color: rgba(0,0,0,0.88);
    // font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    // letter-spacing: 0.34px;
    // line-height: 40px;
  }
}

.formButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  & *{
    margin: 10;
  }
}

.dragging {
  background: rgba(255, 255, 0, 0.461);
  text-align: center;
  font-family: sans-serif;
}