.block {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #FFF;
    border: 1px solid rgba(61,128,252,0.64);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin: 10px
}

.element{
    margin: 20px;
}

.input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width:100%; 
    height:30px; 
    font-size:30px;
    margin: 0 10px 10px 0;
}

.remove{
    background-color: red !important;
    color: white !important;
}

.error{
    color: red !important;
}