
  .carousel {
    ::-webkit-scrollbar {
      width: 0px;
    }
    .container {
      display: flex;
      overflow-x: scroll;
      width: 100%;
      max-width: 100vw;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
  }
}
  