.formBlocks{
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.copy ~ li {
  transform: none !important;
}
.dragging {
  background: yellow;
  text-align: center;
  font-family: sans-serif;
}
.copy {
  background: lightblue;
}
.copy ~ [data-rbd-placeholder-context-id] {
  display: none !important;
}

.block-area {
  padding: 10px;
  // border: 1px solid #aaa;
}